.product {
    width: 24%;
    min-width: 20em;
    margin: 0.938em 0;
    padding: 0.625em 0.75em;
    border: 1px solid #cce7d0;
    background-color: white;
    border-radius: 1.563em;
    position: relative;
    box-shadow: 1.25em 1.25em 1.875em rgba(0, 0, 0, 0.02);
    cursor: pointer;
    transition: 0.2s ease;
}

.product:hover {
    box-shadow: 1.25em 1.25em 1.875em rgba(0, 0, 0, 0.1);
}

.productImage {
    margin-top: 0.5em;
    ;
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.productImage:hover {
    transform: scale(1.05);
}

.product .priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
}

.product .priceContainer h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #088178;
}

.product .cart {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 3.125em;
    font-weight: 500;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
}

.product .cart:hover {
    background-color: #088178;
    color: white;
    border: 1px solid #cce7d0;
}

@media screen and (max-width: 550px) {
    .product {
        width: 60vw;
    }
}