.no-products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 40em;
    color: #333;
}

.no-products-text-container {
    width: 20em;
}

.no-products-text-container .no-products-heading {
    font-size: 2em;
    font-weight: 600;
}

.no-products-message {
    font-size: 1.6em;
    margin-top: 1em;
}

.no-products-img {
    display: flex;
    width: 18em;
}

@media screen and (max-width: 700px) {
    .no-products-container {
        flex-direction: column;
        justify-content: center;
        gap: 6em;
        height: 60vh;
    }
}

@media screen and (max-width: 370px) {
    .no-products-container {
        padding: 1em;
        font-size: 1.2em;
        gap: 3em;
    }

    .no-products-text-container {
        width: 100%;
    }

    .no-products-img {
        width: 10em;
    }
}