.navLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 2.1em;
    width: 100%;
    margin-right: 2em;
}

.logo:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 1000px) {
    .navLeft {
        justify-content: flex-end;
    }
}